 /**clear**/

 li {
     list-style: none;
 }

 *,
 ul,
 li {
     margin: 0;
 }

 a {
     text-decoration: none;
     color: #000;
 }

 img {
     max-width: 100%;
 }

 input,
 textarea,
 div,
 a,
 select {
     outline: none;
 }
 /**public**/

 body {
     font-size: 14px;
     width: 100%;
     height: 100%;
     font: 14px/1.75 '微软雅黑', arial, Verdana, Helvetica, sans-serif;
 }

 .fl {
     float: left;
 }

 .pr {
     position: relative;
 }

 .pa {
     position: absolute;
 }

 .clearfix:after {
     content: ".";
     display: block;
     height: 0;
     clear: both;
     visibility: hidden;
 }

 .clearfix {
     *+height: 1%;
 }

 .wp {
     width: 1120px;
     margin: 0 auto;
 }
 /**nav**/

 .nav {
     height: 103px;
     width: 100%;
     border-bottom: 1px solid #f2f1f1;
     position: fixed;
     top: 0;
     left: 0;
     z-index: 1000;
     background: #fff;
 }

 .nav-logo {
     width: 200px;
     height: 100px;
     margin-right: 20px;
     padding: 10px 0 0 10px;
 }

 .nav-contant {}

 .nav-contant li {
     margin-right: 1px;
     height: 103px;
     width: 104px;
     text-align: center;
     line-height: 103px;
 }

 .nav-contant li:hover,
 .nav-on {
     background-color: #2398b6;
 }

 .nav-contant li:hover a,
 .nav-on a {
     color: #fff;
 }

 .nav-contant li a {
     font-size: 16px;
 }
 /**banner**/

 .banner {
     margin-top: 130px;
     height: 300px;
     background: url("../img/banner.jpg")
 }
 /**breadnav**/

 .bn {
     margin-top: 20px;
 }

 .bn p {
     margin-left: 50px;
     width: 1120px;
     font-size: 16px;
 }
 /**main**/
.main{
    margin-bottom:15px; 
    padding: 10px 0;
}
 .tittle {
     text-align: center;
     margin-bottom: 20px;
 }
.form{
    position: relative;
}
 .input {
     margin-bottom: 10px;
     padding: 0 10px;
     width: 465px;
     font-size: 16px;
     line-height: 42px;
     border: 1px solid #d7d7d7;
     background: url("../img/txt_bg.png");
 }

 .input input {
     width: 300px;
 }

 .input textarea {
     width: 450px;
 }

 .input input,
 .input textarea {
     border: none;
 }

 .input span {
     color: red;
 }

 .need {
     position: absolute;
     right: 0;
     top: 0;
     height: 370px;
 }

 .submit {
     width: 487px;
     font-size: 18px;
     line-height: 46px;
     cursor: pointer;
     background: #2398b6;
     color: #fff;
     border: none;
 }
 .kefu{
     position: absolute;
     right: 0;
     bottom: 0;
     width: 487px;
     text-align: center;
     background: #2398b6;
     color: #fff;
     line-height: 46px;
 }
 /**to top**/

 .top {
     height: 36px;
     text-align: center;
 }
 /**footer**/

 .footer {
     background: #262626;
     color: #999;
     border-top: 1px #2398b6 solid;
 }

 .footer-1 {
     padding: 40px 0;
     font-size: 12px;
 }

 .f-1-left {
     padding-left: 35px;
     line-height: 22px;
     width: 70%
 }

 .f-1-right {}

 .f-1-right .tittle {
     font-size: 18px;
     margin-bottom: 10px;
 }

 .f-1-right .tittle img {
     margin-right: 10px;
 }

 .qr img {
     padding: 5px 0 0 35px;
     width: 108px;
     height: 108px;
 }

 .footer-2 {
     border-top: solid 1px #666;
     text-align: center;
     line-height: 60px;
 }

 .footer-2 a {
     color: #999;
 }

 .footer-2 a:hover {
     color: #2398b6;
 }