 /**clear**/

 li {
    list-style: none;
}

*,
ul,
li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #2398b6;
}

img {
    max-width: 100%;
}

input,
textarea,
div,
a,
select {
    outline: none;
}
/**public**/

body {
    font-size: 14px;
    width: 100%;
    height: 100%;
    font: 14px/1.75 '微软雅黑', arial, Verdana, Helvetica, sans-serif;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.pr {
    position: relative;
}

.pa {
    position: absolute;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *+height: 1%;
}

.wp {
    width: 1120px;
    margin: 0 auto;
}
/**nav**/

.nav {
    height: 103px;
    width: 100%;
    border-bottom: 1px solid #f2f1f1;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: #fff;
}

.nav-logo {
    width: 200px;
    height: 100px;
    margin-right: 20px;
    padding: 10px 0 0 10px;
}

.nav-contant li {
    margin-right: 1px;
    height: 103px;
    width: 104px;
    text-align: center;
    line-height: 103px;
}

.nav-contant li:hover,
.nav-on {
    background-color: #2398b6;
}

.nav-contant li:hover a,
.nav-on a {
    color: #fff;
}

.nav-contant li a {
    font-size: 16px;
}
/**banner**/

.banner {
    margin-top: 105px;
    height: 300px;
    background: url("../img/banner.jpg")
}
/**tittle**/

.tittle {
    border-bottom: 1px solid #d7d7d7;
    height: 40px;
    line-height: 40px;
}

.tittle li {
    float: left;
    width: 16.4%;
    border-left: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
    text-align: center;
}

.tittle li a {
    display: block;
}

.tittle li a:hover {
    background: #2398b6;
    color: #fff;
}
/**main**/

.main {
    padding-top: 30px;
}

.s {
    margin-bottom: 40px;
}

.name-r {
    text-align: right;
}

.name-l {
    text-align: left;
}

.name-l,
.name-r {
    color: rgb(88, 88, 88);
}

.name-l a,
.name-r a {
    width: 70px;
    height: 20px;
    padding: 3px 20px;
    background: #64daf7;
    color: #fff;
}

.info1 {
    margin-top: 2px;
}

.info .con {
    width: 300px;
    height: 222px;
}

.info .con,
.info1 .con1 {
    padding: 30px;
    color: #fff;
    background: #5ed8f7f5;
}

.info .con p,
.info1 .con1 p {
    margin-bottom: 10px;
}

.info .con a,
.info .con a:hover,
.info1 .con1 a,
.info1 .con1 a:hover {
    padding: 2px 20px;
    color: #fff;
    background: rgb(56, 56, 66);
}

.info .pic,
.info .pic img {
    width: 504px;
    height: 282px;
}

.info1 .con1 {
    width: 180px;
    height: 148px;
}

.info1 .pic1,
.info1 .pic1 img {
    width: 320px;
    height: 208px;
}
/**to top**/

.top {
    height: 36px;
    text-align: center;
}
/**footer**/

.footer {
    background: #262626;
    color: #999;
    border-top: 1px #2398b6 solid;
}

.footer-1 {
    padding: 40px 0;
    font-size: 12px;
}

.f-1-left {
    padding-left: 35px;
    line-height: 22px;
    width: 70%;
}

.f-1-right .tittle {
    font-size: 18px;
    margin-bottom: 10px;
}

.f-1-right .tittle img {
    margin-right: 10px;
}

.qr img {
    padding: 5px 0 0 35px;
    width: 108px;
    height: 108px;
}

.footer-2 {
    border-top: solid 1px #666;
    text-align: center;
    line-height: 60px;
}

.footer-2 a {
    color: #999;
}

.footer-2 a:hover {
    color: #2398b6;
}